benchmark-processing/Benchmark_Processing.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
  <name>Benchmark Processing</name>
  <snippet>
    <connections>
      <id>d83f7763-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df73b7c6-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>d83df90d-0158-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df5db24a-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>d83f2794-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df5d75fb-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df5f8488-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df5f5d24-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>d83f2794-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df60b2c5-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df601d71-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>d83f2794-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df6112f8-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df601d71-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df5f5d24-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df73f557-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df73b7c6-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df738d13-0158-1000-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df7404eb-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df5d75fb-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>df73b7c6-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5a5c358e-9e0f-185f-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
        <id>5a5c351f-9e0f-185f-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>7c84501d-d10c-407c-0000-000000000000</groupId>
        <id>5a5c358c-9e0f-185f-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <funnels>
      <id>df73b7c6-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>349.21741062384535</x>
        <y>141.1713953934141</y>
      </position>
    </funnels>
    <inputPorts>
      <id>d83df90d-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.7272673952509479</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>Generated Data</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <inputPorts>
      <id>df738d13-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>567.9719103309096</x>
        <y>1.6970520708084393</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>Generated Data 2</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <inputPorts>
      <id>5a5c358c-9e0f-185f-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>1051.9798623349752</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>Sample User Data</name>
      <state>RUNNING</state>
      <transmitting>false</transmitting>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>5a5c350d-9e0f-185f-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>984.8957848448485</x>
        <y>190.9317519127687</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>b69705e1-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673e1aef-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6967fa8-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b6b2457c-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6b21f4b-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6967fa8-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b6b61d33-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6b5e909-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6a3695c-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b6b6f89c-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6b688cb-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6a3695c-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>03592fee-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>fba5352c-5ac7-1f39-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673e1d68-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>035ae962-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>035aad7c-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>csv</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673e1d68-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>035c76cf-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1005.98779296875</x>
            <y>769.6463012695312</y>
          </bends>
          <bends>
            <x>1824.303955078125</x>
            <y>769.646240234375</y>
          </bends>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6b21f4b-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>035aad7c-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>035e3d4a-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>148f35ef-f3a9-1717-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>035aad7c-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0364edc4-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b696bddc-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>0360b2b5-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>673d3265-9c9a-113f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673d3257-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>5a5c351f-9e0f-185f-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>673e1bf2-9c9a-113f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673e1d68-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673d3257-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>673e1df0-9c9a-113f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>b6967fa8-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>json</selectedRelationships>
          <source>
            <groupId>5a5c350d-9e0f-185f-0000-000000000000</groupId>
            <id>673e1d68-9c9a-113f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>5a5c351f-9e0f-185f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1130.4989761147265</x>
            <y>-37.12994622180207</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Sample User Data</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <processors>
          <id>b6967fa8-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1070.4989761147265</x>
            <y>550.8700537781979</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>8</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$.results</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>b696bddc-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1074.9569839272265</x>
            <y>1253.6707129578854</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>dob</key>
                <value>
                  <name>dob</name>
                </value>
              </entry>
              <entry>
                <key>location</key>
                <value>
                  <name>location</name>
                </value>
              </entry>
              <entry>
                <key>username</key>
                <value>
                  <name>username</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>json</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>dob</key>
                <value>$.user.dob</value>
              </entry>
              <entry>
                <key>location</key>
                <value>$.user.location</value>
              </entry>
              <entry>
                <key>username</key>
                <value>$.user.username</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>b6a3695c-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1243.2814468178515</x>
            <y>1640.9541602235104</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Defragment</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Filename</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>b6b21f4b-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1659.8390629695014</x>
            <y>546.7482476539486</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Log Unsplittable Data</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
          <id>b6b5e909-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1847.0113041804389</x>
            <y>1635.448076755511</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogAttribute Merged Splits</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
          <id>b6b688cb-0158-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1848.4242680476264</x>
            <y>1788.3150811500423</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogAttribute Failed Merges</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
          <id>fba5352c-5ac7-1f39-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1657.8390629695014</x>
            <y>319.7482476539486</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Log Unmatched MIME Types</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
          <id>035aad7c-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>572.4989761147262</x>
            <y>550.8700537781979</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>8</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Line Split Count</key>
                <value>
                  <name>Line Split Count</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
                <value>
                  <name>Maximum Fragment Size</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
                <value>
                  <name>Header Line Marker Characters</name>
                </value>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                  <name>Remove Trailing Newlines</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Line Split Count</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
          <id>0360b2b5-0159-1000-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1072.5174427767256</x>
            <y>1027.4490759250125</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>group.id</key>
                <value>
                  <name>group.id</name>
                </value>
              </entry>
              <entry>
                <key>auto.offset.reset</key>
                <value>
                  <name>auto.offset.reset</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.poll.records</key>
                <value>
                  <name>max.poll.records</name>
                </value>
              </entry>
              <entry>
                <key>max-uncommit-offset-wait</key>
                <value>
                  <name>max-uncommit-offset-wait</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>m10wn05.localdomain:6667</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>json-data</value>
              </entry>
              <entry>
                <key>group.id</key>
                <value>json-group</value>
              </entry>
              <entry>
                <key>auto.offset.reset</key>
                <value>latest</value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.poll.records</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>max-uncommit-offset-wait</key>
                <value>1 secs</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Consume JSON from Kafka</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_0_10</type>
        </processors>
        <processors>
          <id>148f35ef-f3a9-1717-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>569.4989150795702</x>
            <y>782.8700537781979</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>20</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>kafka-key</key>
                <value>
                  <name>kafka-key</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>m10wn05.localdomain:6667</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>csv-data</value>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kafka-key</key>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish CSV to Kafka</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
        </processors>
        <processors>
          <id>673d3257-9c9a-113f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1076.65576171875</x>
            <y>87.60263061523438</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors></descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties></properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>IdentifyMimeType</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.IdentifyMimeType</type>
        </processors>
        <processors>
          <id>673e1aef-9c9a-113f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1068.4989761147265</x>
            <y>788.8700537781979</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>20</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>kafka-key</key>
                <value>
                  <name>kafka-key</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>m10wn05.localdomain:6667</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>json-data</value>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kafka-key</key>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Publish JSON to Kafka</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
        </processors>
        <processors>
          <id>673e1d68-9c9a-113f-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>1078.4989761147262</x>
            <y>321.87005377819787</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>csv</key>
                <value>
                  <name>csv</name>
                </value>
              </entry>
              <entry>
                <key>json</key>
                <value>
                  <name>json</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>csv</key>
                <value>${mime.type:toLower():contains('csv')}</value>
              </entry>
              <entry>
                <key>json</key>
                <value>${mime.type:toLower():contains('json')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Route on MIME Type</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>csv</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>json</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>678d3c27-45c7-15c8-0000-000000000000</id>
          <parentGroupId>5a5c350d-9e0f-185f-0000-000000000000</parentGroupId>
          <position>
            <x>570.2689686556319</x>
            <y>1027.50022338595</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>group.id</key>
                <value>
                  <name>group.id</name>
                </value>
              </entry>
              <entry>
                <key>auto.offset.reset</key>
                <value>
                  <name>auto.offset.reset</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.poll.records</key>
                <value>
                  <name>max.poll.records</name>
                </value>
              </entry>
              <entry>
                <key>max-uncommit-offset-wait</key>
                <value>
                  <name>max-uncommit-offset-wait</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>m10wn05.localdomain:6667</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>csv-data</value>
              </entry>
              <entry>
                <key>group.id</key>
                <value>csv-group</value>
              </entry>
              <entry>
                <key>auto.offset.reset</key>
                <value>latest</value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.poll.records</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>max-uncommit-offset-wait</key>
                <value>1 secs</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Consume CSV from Kafka</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_0_10</type>
        </processors>
      </contents>
      <name>Sample User Data Processing</name>
    </processGroups>
    <processors>
      <id>d83f2794-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>204.65545654296875</x>
        <y>486.4294158327509</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hash Attribute Name</key>
            <value>
              <name>Hash Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Hash Algorithm</key>
            <value>
              <name>Hash Algorithm</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hash Attribute Name</key>
            <value>hash.value</value>
          </entry>
          <entry>
            <key>Hash Algorithm</key>
            <value>MD5</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>HashContent</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.HashContent</type>
    </processors>
    <processors>
      <id>df5d75fb-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>202.78314208984375</x>
        <y>249.2055999147822</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors></descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties></properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>IdentifyMimeType</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.IdentifyMimeType</type>
    </processors>
    <processors>
      <id>df5f5d24-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>203.97442626953125</x>
        <y>716.7277251589228</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Mode</key>
            <value>
              <name>Mode</name>
            </value>
          </entry>
          <entry>
            <key>key-derivation-function</key>
            <value>
              <name>key-derivation-function</name>
            </value>
          </entry>
          <entry>
            <key>Encryption Algorithm</key>
            <value>
              <name>Encryption Algorithm</name>
            </value>
          </entry>
          <entry>
            <key>allow-weak-crypto</key>
            <value>
              <name>allow-weak-crypto</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>raw-key-hex</key>
            <value>
              <name>raw-key-hex</name>
            </value>
          </entry>
          <entry>
            <key>public-keyring-file</key>
            <value>
              <name>public-keyring-file</name>
            </value>
          </entry>
          <entry>
            <key>public-key-user-id</key>
            <value>
              <name>public-key-user-id</name>
            </value>
          </entry>
          <entry>
            <key>private-keyring-file</key>
            <value>
              <name>private-keyring-file</name>
            </value>
          </entry>
          <entry>
            <key>private-keyring-passphrase</key>
            <value>
              <name>private-keyring-passphrase</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Mode</key>
            <value>Encrypt</value>
          </entry>
          <entry>
            <key>key-derivation-function</key>
            <value>NIFI_LEGACY</value>
          </entry>
          <entry>
            <key>Encryption Algorithm</key>
            <value>MD5_128AES</value>
          </entry>
          <entry>
            <key>allow-weak-crypto</key>
            <value>allowed</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>raw-key-hex</key>
          </entry>
          <entry>
            <key>public-keyring-file</key>
          </entry>
          <entry>
            <key>public-key-user-id</key>
          </entry>
          <entry>
            <key>private-keyring-file</key>
          </entry>
          <entry>
            <key>private-keyring-passphrase</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EncryptContent</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EncryptContent</type>
    </processors>
    <processors>
      <id>df601d71-0158-1000-0000-000000000000</id>
      <parentGroupId>7c84501d-d10c-407c-0000-000000000000</parentGroupId>
      <position>
        <x>805.3596801757812</x>
        <y>482.33520806907904</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Log Failures</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
  </snippet>
  <timestamp>12/16/2016 14:15:04 EST</timestamp>
</template>