data-generation/Data_Generation.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>b14e62fe-0158-1000-b0e8-50175f31ef8f</groupId>
  <name>Data Generation</name>
  <snippet>
    <connections>
      <id>87e3567e-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>acb39498-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer</prioritizers>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>87dd1f69-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>87e3a386-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>524.0</x>
        <y>182.0</y>
      </bends>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>acb39498-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer</prioritizers>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>87de49bc-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>87e3b0d8-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>647.0</x>
        <y>299.0</y>
      </bends>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>acb39498-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer</prioritizers>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>87df7533-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>87e58f28-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1461.0</x>
        <y>41.0</y>
      </bends>
      <bends>
        <x>1461.0</x>
        <y>91.0</y>
      </bends>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>87e329e8-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>87e329e8-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>acb3ee10-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>87e329e8-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer</prioritizers>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>acb39498-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df75ecd8-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>920.09033203125</x>
        <y>915.732421875</y>
      </bends>
      <destination>
        <groupId>d83d1f30-0158-1000-0000-000000000000</groupId>
        <id>d83df90d-0158-1000-ffff-ffffe9f67fa8</id>
        <type>REMOTE_INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>df74a00b-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>df8c7a0f-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1447.9913330078125</x>
        <y>905.552490234375</y>
      </bends>
      <destination>
        <groupId>df75cfd3-0158-1000-0000-000000000000</groupId>
        <id>df738d13-0158-1000-ffff-ffffb5a318e7</id>
        <type>REMOTE_INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>0</labelIndex>
      <name></name>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>df74a00b-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>dfe9039e-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>dfe8eb81-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>dfe63b3d-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>dfe97ba5-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>df74a00b-0158-1000-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <prioritizers>org.apache.nifi.prioritizer.OldestFlowFileFirstPrioritizer</prioritizers>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>dfe8eb81-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e011305d-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>e01117b3-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>e00f0d3b-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e02a03e5-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>e029a6e8-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>not.found</selectedRelationships>
      <selectedRelationships>permission.denied</selectedRelationships>
      <source>
        <groupId>b14e62fe-0158-1000-0000-000000000000</groupId>
        <id>dfe8eb81-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>e0153bcb-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Maximum Outstanding Requests</key>
          <value>
            <name>Maximum Outstanding Requests</name>
          </value>
        </entry>
        <entry>
          <key>Request Expiration</key>
          <value>
            <name>Request Expiration</name>
          </value>
        </entry>
      </descriptors>
      <name>StandardHttpContextMap</name>
      <properties>
        <entry>
          <key>Maximum Outstanding Requests</key>
          <value>5000</value>
        </entry>
        <entry>
          <key>Request Expiration</key>
          <value>1 min</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.http.StandardHttpContextMap</type>
    </controllerServices>
    <funnels>
      <id>acb39498-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>663.0</x>
        <y>0.0</y>
      </position>
    </funnels>
    <funnels>
      <id>df74a00b-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1155.2792560063738</x>
        <y>817.4939376044583</y>
      </position>
    </funnels>
    <processors>
      <id>87dd1f69-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>4.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>500B</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>true</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Generate 500B</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>87de49bc-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1.0</x>
        <y>157.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>1KB</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>true</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Generate 1KB</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>87df7533-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>313.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>1MB</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>true</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Generate 1MB</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>87e329e8-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1006.0</x>
        <y>1.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>
              <name>Max Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
            <value>
              <name>Max Data to Post per Second</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>
              <name>Send as FlowFile</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
            <value>
              <name>Attributes to Send as HTTP Headers (Regex)</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://localhost:9090/generatedData</value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>100 MB</value>
          </entry>
          <entry>
            <key>Max Data to Post per Second</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Send as FlowFile</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Attributes to Send as HTTP Headers (Regex)</key>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>Apache-HttpClient/4.4.1 (Java/1.8.0_102)</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PostHTTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PostHTTP</type>
    </processors>
    <processors>
      <id>881ce06b-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>627.390149339365</x>
        <y>391.1435056897243</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Command</key>
            <value>
              <name>Command</name>
            </value>
          </entry>
          <entry>
            <key>Command Arguments</key>
            <value>
              <name>Command Arguments</name>
            </value>
          </entry>
          <entry>
            <key>Batch Duration</key>
            <value>
              <name>Batch Duration</name>
            </value>
          </entry>
          <entry>
            <key>Redirect Error Stream</key>
            <value>
              <name>Redirect Error Stream</name>
            </value>
          </entry>
          <entry>
            <key>Argument Delimiter</key>
            <value>
              <name>Argument Delimiter</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Command</key>
            <value>tshark</value>
          </entry>
          <entry>
            <key>Command Arguments</key>
            <value>-Q -B 32 -i lo -b filesize:128 -f "tcp port 9090" -w /tmp/pcap/captured_generated_data.pcap</value>
          </entry>
          <entry>
            <key>Batch Duration</key>
          </entry>
          <entry>
            <key>Redirect Error Stream</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Argument Delimiter</key>
            <value> </value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Capture Packets from Loopback</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
    </processors>
    <processors>
      <id>dfe63b3d-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1007.3465041870543</x>
        <y>390.73990310143745</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>
              <name>Input Directory Location</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/pcap</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>captured_generated_data.*\.pcap</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFile</type>
    </processors>
    <processors>
      <id>dfe8eb81-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1007.3465622656697</x>
        <y>613.2436279595938</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File to Fetch</key>
            <value>
              <name>File to Fetch</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <name>Move Conflict Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>
              <name>Log level when file not found</name>
            </value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>
              <name>Log level when permission denied</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Fetch</key>
            <value>${absolute.path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>Delete File</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>ERROR</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>e00f0d3b-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1006.699823800323</x>
        <y>188.53559400407676</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Listening Port</key>
            <value>
              <name>Listening Port</name>
            </value>
          </entry>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>HTTP Context Map</key>
            <value>
              <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
              <name>HTTP Context Map</name>
            </value>
          </entry>
          <entry>
            <key>Allowed Paths</key>
            <value>
              <name>Allowed Paths</name>
            </value>
          </entry>
          <entry>
            <key>Default URL Character Set</key>
            <value>
              <name>Default URL Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Allow GET</key>
            <value>
              <name>Allow GET</name>
            </value>
          </entry>
          <entry>
            <key>Allow POST</key>
            <value>
              <name>Allow POST</name>
            </value>
          </entry>
          <entry>
            <key>Allow PUT</key>
            <value>
              <name>Allow PUT</name>
            </value>
          </entry>
          <entry>
            <key>Allow DELETE</key>
            <value>
              <name>Allow DELETE</name>
            </value>
          </entry>
          <entry>
            <key>Allow HEAD</key>
            <value>
              <name>Allow HEAD</name>
            </value>
          </entry>
          <entry>
            <key>Allow OPTIONS</key>
            <value>
              <name>Allow OPTIONS</name>
            </value>
          </entry>
          <entry>
            <key>Additional HTTP Methods</key>
            <value>
              <name>Additional HTTP Methods</name>
            </value>
          </entry>
          <entry>
            <key>Client Authentication</key>
            <value>
              <name>Client Authentication</name>
            </value>
          </entry>
          <entry>
            <key>container-queue-size</key>
            <value>
              <name>container-queue-size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Listening Port</key>
            <value>9090</value>
          </entry>
          <entry>
            <key>Hostname</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>HTTP Context Map</key>
            <value>e0153bcb-0158-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>Allowed Paths</key>
            <value>/generatedData</value>
          </entry>
          <entry>
            <key>Default URL Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Allow GET</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Allow POST</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Allow PUT</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Allow DELETE</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Allow HEAD</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Allow OPTIONS</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Additional HTTP Methods</key>
          </entry>
          <entry>
            <key>Client Authentication</key>
            <value>No Authentication</value>
          </entry>
          <entry>
            <key>container-queue-size</key>
            <value>1000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>HandleHttpRequest</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
    </processors>
    <processors>
      <id>e01117b3-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1607.0472597925495</x>
        <y>187.019605079857</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HTTP Status Code</key>
            <value>
              <name>HTTP Status Code</name>
            </value>
          </entry>
          <entry>
            <key>HTTP Context Map</key>
            <value>
              <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
              <name>HTTP Context Map</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HTTP Status Code</key>
            <value>200</value>
          </entry>
          <entry>
            <key>HTTP Context Map</key>
            <value>e0153bcb-0158-1000-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>HandleHttpResponse</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
    </processors>
    <processors>
      <id>e029a6e8-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1622.2080909978463</x>
        <y>616.0559467111332</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <remoteProcessGroups>
      <id>d83d1f30-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>729.2303969757986</x>
        <y>981.3576356001595</y>
      </position>
      <communicationsTimeout>30 sec</communicationsTimeout>
      <contents>
        <inputPorts>
          <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
          <connected>true</connected>
          <exists>true</exists>
          <id>d83df90d-0158-1000-ffff-ffffe9f67fa8</id>
          <name>Generated Data</name>
          <targetRunning>true</targetRunning>
          <transmitting>true</transmitting>
          <useCompression>false</useCompression>
        </inputPorts>
        <inputPorts>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <connected>false</connected>
          <exists>true</exists>
          <id>df738d13-0158-1000-ffff-ffffb5a318e7</id>
          <name>Generated Data 2</name>
          <targetRunning>true</targetRunning>
          <transmitting>false</transmitting>
          <useCompression>false</useCompression>
        </inputPorts>
      </contents>
      <proxyHost></proxyHost>
      <proxyUser></proxyUser>
      <targetUri>https://m10wn05.localdomain:9091/nifi</targetUri>
      <transportProtocol>HTTP</transportProtocol>
      <yieldDuration>1 sec</yieldDuration>
    </remoteProcessGroups>
    <remoteProcessGroups>
      <id>df75cfd3-0158-1000-0000-000000000000</id>
      <parentGroupId>b14e62fe-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1259.5654403760846</x>
        <y>982.259162715895</y>
      </position>
      <communicationsTimeout>30 sec</communicationsTimeout>
      <contents>
        <inputPorts>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <connected>false</connected>
          <exists>true</exists>
          <id>d83df90d-0158-1000-ffff-ffffe9f67fa8</id>
          <name>Generated Data</name>
          <targetRunning>true</targetRunning>
          <transmitting>false</transmitting>
          <useCompression>false</useCompression>
        </inputPorts>
        <inputPorts>
          <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
          <connected>true</connected>
          <exists>true</exists>
          <id>df738d13-0158-1000-ffff-ffffb5a318e7</id>
          <name>Generated Data 2</name>
          <targetRunning>true</targetRunning>
          <transmitting>true</transmitting>
          <useCompression>false</useCompression>
        </inputPorts>
      </contents>
      <proxyHost></proxyHost>
      <proxyUser></proxyUser>
      <targetUri>https://m10wn06.localdomain:9091/nifi</targetUri>
      <transportProtocol>HTTP</transportProtocol>
      <yieldDuration>1 sec</yieldDuration>
    </remoteProcessGroups>
  </snippet>
  <timestamp>12/08/2016 16:51:52 EST</timestamp>
</template>